{% extends "network/layout.html" %}

{% block body %}

    <div id="new-post">
        <form id="new-post-form">
            <textarea class="form-control" name="post-content" id="post-content" placeholder="New Post" rows="4"></textarea>
            <input class="btn btn-primary mb-2" id="post-submit" type="submit" value="Post">
        </form>
    </div>

    <div id="all-posts">
        
    </div>

    <div id="followings-posts">

    </div>

    <div id="profile">

    </div>
    
    <div id="all-pages">
    
        <div></div>
    
    </div>

    <div id="next-button">
    
    </div>
    
    <div id="previous-button">
    
    </div>


{% endblock %}

{% load static %}
{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}